# para testes locais use apenas TEST
STAGE=TEST

# nome da tabela para testes locais. será o nome pego pelo container docker
# interessante se passar o mesmo configurado pelo terraform!
DYNAMO_TABLE_NAME=cs-fastapi-test-dynamo-table

# endpoint do dynamo local via docker compose
DYNAMO_ENDPOINT_URL=http://localhost:8000
AWS_REGION=us-east-1
